.absolute-top {
    top: 20px;
}

.absolute-right {
    right: 20px;
}
.cursor-pointer {
    cursor: pointer;
}
.visible {
    visibility: visible!important;
}
.invisible {
    visibility: hidden;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-body {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.font-weight-normal {
    font-weight: normal;
}
.height-width-input {
    height: 26px;
    width: 210px;
}
.outline-input {
    outline: none;
}